.divProfile{
    padding: 9rem;
    background-color: #131212;
    color: #fff;
    height:100vh;
}
.left{
    font-family: oswald;
    padding-left: 1rem;
    line-height: 3rem;
    font-size: 1.6rem;
    
}
.avatar{
    display: flex;
    justify-content: center;
}
.img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}
.button{
    background-color: #000;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: solid 1px;
    margin: 1rem 0;
}
.button:hover{
    background-color: rgba(156, 89, 111, 0.596);
}
.right{
    font-family: oswald;
    padding-left: 1rem;
    line-height: 3rem;
    font-size: 1.6rem;
    border-left: solid 1px #fff;
}
.a{
    color: #fff;
    text-decoration-line: underline;
}

.room{
    border-bottom: 1px solid #444343;
    padding-bottom: 1rem;
    
}

.imgRoom{
 width: 30rem;
 height: 20rem;
 border-radius: 2rem;

}
.inRoom{
padding-left: 2rem;

}
.gia{
    text-align: end;
}
