
.header{
display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: black;
  /* transition: height 0.2s linear; */
  cursor: pointer;
  padding: 8px 12px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.navi{
  /* padding-right: 50rem; */
}

.nav{
  color: #fff;
  padding: 0 2rem;
}